<%= form_for([@task.project, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-2">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control form-control-lg', autofocus: true %>
  </div>

  <div class="form-group mb-4">
    <%= f.label :status %><br />
    <%= f.select :status, Task::STATUS_OPTIONS, {}, class: "custom-select custom-select-lg" %>
  </div>
  
  <%= f.submit class: 'btn btn-lg btn-success' %>

<% end %>
