<div class="card border-0 shadow-sm">
  <div class="card-body">

    <div class="row">

      <div class="col-md-7 col-lg-9 mb-2">
        <h1>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          </svg>
          <%= @project.name %>
        </h1>
      </div>

      <div class="col-md-5 text-md-right col-lg-3">
        <%= link_to edit_project_path(@project), class: 'btn btn-outline-secondary btn-lg mr-2' do %>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg>
        <% end %>
        <%= link_to @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary btn-lg' do %>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        <% end %>
      </div>

    </div>

    <%= form_for([@task.project, @task]) do |f| %>
      <% if @task.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>

          <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="input-group my-4">
        <%= f.text_field :name, class: 'form-control form-control-lg', placeholder: "Start typing here to create a task..." %>
        <%= f.hidden_field :status, value: 'not-started' %>
        <%= f.hidden_field :deadline, class: 'form-control form-control-lg', value: Time.now.strftime('%d %b %Y') %>

        <div class="input-group-append">
          <%= button_tag type: 'submit', class: 'btn btn-success' do %>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          <% end %>
        </div>
      </div>

    <% end %>

    <div data-controller="tasks">
      <ul id="tasks-list" data-action="drop->tasks#sort">
        <% @project.tasks.order(position: :desc).each do |task| %>
          <% if task.persisted? %>
            <li class="task-item" data-task-id="<%= task.id %>" %>
              <div class="card shadow-sm mb-3 <%= task.status_bg_hover %>">
                <div class="card-body">

                  <div class="row">

                    <div class="col-md-7 col-lg-8">                 
                      <p class="h4 mt-2">
                        <%= task.name %>
                      </p>
                    </div>

                    <div class="col-md-5 col-lg-4">
                      <div class="d-flex align-items-center justify-content-md-end mb-3">
                        <span class="btn btn-outline-secondary mr-2">
                          <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-arrows-expand" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10z"/>
                          </svg>
                        </span>
  
                        <%= link_to edit_project_task_path(task.project, task), class: 'btn btn-outline-secondary mr-2' do %>
                          <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                          </svg>
                        <% end %>
                        <%= link_to [task.project, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary' do %>
                          <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        <% end %>
                      </div>
                      <div class="d-flex align-items-center justify-content-md-end">
                        <span class="dropdown">
                          <button class="btn btn-lg btn-<%= task.task_color %> dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= task.readable_status %>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <% Task::STATUS_OPTIONS.each do |status| %>
                              <a class="dropdown-item" href="#" 
                              data-reflex="click->StatusReflex#change"
                              data-id="<%= task.id%>"
                              data-status="<%= status[1] %>"
                              ><%= status[0] %></a>
                            <% end %>
                          </div>
                        </span>
                      </div>

                    </div>

                  </div>

                </div>
                <div class="card-footer d-flex justify-content-between">
                  <small>Created: <%= task.created_at.strftime('%d %b %Y') %></small> 
                  <small>Deadline: <%= task.deadline.strftime('%d %b %Y') %></small>  
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<%= link_to projects_path, class: "btn btn-lg" do %>
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg> Back
<% end %>